<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.xydata.auth.dao.UserDAO">
            
    <insert id="insert" parameterType="user" keyProperty="id">
      insert into auth_users( 
         username,password,first_name,last_name,email,is_staff,is_active,is_super,is_deleted,last_login,date_joined)
     values(
         #{username},#{password},#{first_name},#{last_name},#{email},0,0,0,0,#{last_login},#{date_joined})
    </insert>
    
    <select id="userinfo" parameterType="String" resultType="cn.xydata.auth.model.UserModel">
       select * from auth_users where username = #{username}
       
    </select>
         
          
</mapper>